<<<<<<< HEAD
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}

.header{
    background:black;
    display: flex;
    height:80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
}

.headerTitle{
    color: yellow;
    text-transform: uppercase;
    font-size: 200%;
}

.headerButton{
    text-transform: uppercase;
    background: transparent;
    color:white;
    border:none;
    font-size: 150%;
    letter-spacing: 2px;
}

.headerButton:hover{
    cursor:pointer;
}

.mainNavigation{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    /* animation */
    opacity: 0;
    transition: 0.8s all;
}

.mainNavigationList{
    list-style: none;
}

.mainNavigationListItem{
    color:white;
    font-size: 350%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.mainNavigationListItem > a{
    text-decoration: none;
    color:white;
}

.bigFigure{
    width:100%;
    height:120vh;
}

.bigFigure > img{
    width:100%;
    height:100%;
    object-fit: cover;
    background-position: left;
}

.collections{
    width:100%;
    padding: 40px;
}

.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}

.collectionsListItem{
    width:500px;
    height: 700px;
    flex-shrink: 1;
    flex-grow: 1;
}

.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    padding: 40px;
    display: flex;
    gap:40px;
    flex-wrap: wrap;
}

.block{
    width:400px;
    flex-shrink: 1;
    flex-grow: 1;
}

.info p{
    max-width: 50ch;
}

footer{
    height:40px;
    margin-top: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background: black;
    margin-top: auto;
 }
 footer > p{
    margin-top: 100px;
    margin: 0 auto;
    background: black;
    color: white;
    z-index: 2;
 }

@media screen and (max-width:700px){
    body{
        font-size: 14px;
    }
    .headerTitle{
        font-size: 380%;
    }
=======
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
 }
html{
    scroll-behavior: smooth;
}
 body{
     font-size: 20px;
     font-family: sans-serif;
      }
 figcaption{
    float: right;
 }
p{
    font-size: 25px;
    margin-right: 800px;
    display:flex;
 }

footer > div > p{
    
}

.special-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background: #4B4B4B ;
    border-radius: 5px;
    transition: background 0.3s ease;
    margin-left: 450px;
  }
.button {
    color: #FFFFFF;
    margin-right: 50px;
    text-decoration: none;
}

.top{
    width:80px;
    height:80px;
    background: black;
    border:none;
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;;
    border-radius: 5px;
    color:white;
    position: fixed;
    bottom:120px;
    right:120px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.scroll-button{
    color: #FFFFFF;
    margin-right: 50px;
}

.button:hover {
    display: inline-block;
    background: black;
    color: white; 
}
 h1{
     font-size:250%;
     margin-bottom: 20px;
     border-bottom: 1px solid black;
 }
 .special-button:hover {
    background: white;
    color: black;
 }
div{
    width: 100vw;
    padding:20px;
    background: black;
    color: black;

}
 article{
     width: 100vw;
     margin: 0 auto;
     padding: 260px;
     background: #4B4B4B;
     color: white;
 }
 
 p.p1{
    width: 100vw;
    background: blue;
 }

 img{
     width:50%;
 }

 footer{
    margin-top: 100px;
    background: #4B4B4B;
    color: white;
    width: 900px;
    font-size: 20px;
    bottom:120px;
}



 #object1 {
    width: 600px;
            height: 500px;
            float: right;
        }

        p{
            margin-bottom: 10px;
        }
        .button-container {
            white-space: nowrap; 
          }

#object2{
    width: 100px;
    height: 40px;
    float: right;
}
.blackcolor{
    background: #4B4B4B;
    color: white;
    width: 70px;
}

article > figure > p{
}

.color2{
    background: #4B4B4B;
    color: white;
    width: 70px;
}
.special-button2{
    width:25%;
}

.InstaBut{
    width: 15%;
    background-color: #4B4B4B;

>>>>>>> refs/remotes/origin/main
}